<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Hunter and Hannah soon to be Merritt">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hannah and Hunter</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script style="https://cdnjs.com/libraries/bulma"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='myfavicon.ico') }}">
</head>
<style>

    body
    {
        font-family: Roboto, sans-serif;
        color: black;
        background-color: #96b573;
    }

</style>
<body>

<div style="text-align: center; height: 40vh; background-color: white;">

    <div style="height: 1vh;"></div>

    <img src="https://drive.google.com/uc?id=1IG6wtkf4U6TixTn1vpsvJ6BbMQmokgDf" style="height: 20vh; width: 20vh;">

    <div style="height: 3vh;"></div>

    <div class="btn-group">
        <a class="btn" href="/" style="background-color: #96b573; color: white;">Home</a>
        <a class="btn" href="/story" style="background-color: #96b573; color: white;">Story</a>
        <a class="btn" href="/schedule" style="background-color: #96b573; color: white;">Schedule</a>
        <a class="btn" href="/registry" style="background-color: #96b573; color: white;">Registry</a>
        <a class="btn" href="/fun" style="background-color: #96b573; color: white;">Fun!</a>
        <a class="btn" href="/accomodations" style="background-color: #96b573; color: white;">Accomodations</a>
        <a class="btn" href="/rsvp" style="background-color: #96b573; color: white;">rsvp</a>
    </div>

</div>


<div class="container" style="">

    <div class="row" style="background-color: white; min-height: 60vh;">

        <div class="col-12" style="height: 5vh;"></div>

        <div class="col-12">
            <h3 style="text-align: center;">Guest Accommodations</h3>
            <hr>
            <br>
            <p>We have a group of rooms blocked off for our guests to book at a couple of local establishments.
             Guests are encouraged however to look for other accommodations if they would prefer to stay somewhere else.</p>
            <a href="https://www.tripadvisor.com/Hotel_Review-g34297-d10632904-Reviews-Waterline_Marina_Resort_Beach_Club_Autograph_Collection-Holmes_Beach_Anna_Maria_Island.html" class="btn btn-primary">Book Now!</a>
            <br>
        </div>


    </div>

</div>


</body>
</html>