<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Hunter and Hannah soon to be Merritt">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Our Story</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script style="https://cdnjs.com/libraries/bulma"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='myfavicon.ico') }}">
</head>
<style>

    body
    {
        font-family: Roboto, sans-serif;
        color: black;
        background-color: #96b573;
    }

</style>
<body>

<div style="text-align: center; height: 40vh; background-color: white;">

    <div style="height: 1vh;"></div>

    <img src="https://drive.google.com/uc?id=1IG6wtkf4U6TixTn1vpsvJ6BbMQmokgDf" style="height: 20vh; width: 20vh;">

    <div style="height: 3vh;"></div>

    <div class="btn-group">
        <a class="btn" href="/" style="background-color: #96b573; color: white;">Home</a>
        <a class="btn" href="/story" style="background-color: #96b573; color: white;">Story</a>
        <a class="btn" href="/schedule" style="background-color: #96b573; color: white;">Schedule</a>
        <a class="btn" href="/registry" style="background-color: #96b573; color: white;">Registry</a>
        <a class="btn" href="/fun" style="background-color: #96b573; color: white;">Fun!</a>
        <a class="btn" href="/accomodations" style="background-color: #96b573; color: white;">Accomodations</a>
        <a class="btn" href="/rsvp" style="background-color: #96b573; color: white;">rsvp</a>
    </div>

</div>


<div class="container" style="">

    <div class="row" style="background-color: white;">

        <div class="col-12" style="height: 5vh;"></div>


        <div class="col-12" style="text-align: center; height: 30vh;">

            <img src="../static/homepic2.JPG" style="height: 30vh; width: 30vh; border-radius: 50%;">


        </div>

        <div class="col-12">
            <div style="text-align: center;">
                <h3>Hannah & Hunter</h3>
                <h5>The story of us.</h5>
                <hr>
            </div>
            <p>Hannah and Hunter grew up in the same town of Barrington, IL and were introduced to each other freshman
                year of highschool. It wasn’t until sophomore year that they started seeing a lot of eachother. While
                Hannah was at cross country practice, she ran laps around the football field Hunter was practicing on,
                she sat in front of Hunter in Honors Trigonometry, where he constantly made her laugh before class started
                and in between the teacher’s explanations, and they went to the same high school ministry at Willow Creek
                Community Church. Hannah would go over to Hunter’s lunch table to ask her friend cross country friend a
                question that she already knew the answer to, and then the next day Hunter would go over to Hannah’s
                lunch table to ask her for math help even though he didn’t really need it. On September 25th, 2014 Hannah
                asked Hunter out and the rest is kind of history! They sat through spanish class together, cheered each
                other on at track meets, danced the night away at Homecoming, sang their favorite  songs on repeat in
                the car, spent summers at the bowling alley, and decided to go to Texas Christian University together
                starting Fall 2016. On May 28th, 2018 on the back deck of a cruise ship traveling to Alaska, Hunter got
                down on one knee and asked Hannah to marry him, and she said YES!! After the engagement, they went back
                to TCU where Hunter is finishing up his last two semesters before graduating and working at AT&T in
                Dallas full time as a software developer, and Hannah is still working on her junior year, pursuing her
                BFA in Art Education.</p>
        </div>


    </div>

</div>


</body>
</html>